.img{
background-color: #FFDEAD;

	text-align: center;
    line-height: 18px;
    width: 591px;
    height: 100px;
    margin-left:auto;
    margin-right:auto
}
.chocolate{
position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-30%, -55%);
  color: #FFDEAD;
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.strawberry{
 position: absolute;
  top: 70%;
  left: 62%;
  transform: translate(-70%, -62%);
  color: #FFDEAD;
  font-size: 30px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.txt{
  color: #20C434;
  font-family: OCR A Std, monospace;
  text-size: 40px;
}