.img{
background-color: #FFDEAD;

	text-align: center;
    line-height: 18px;
    width: 400px;
    height: 80px;
    margin-left:auto;
    margin-right:auto
}
.txt{
  color: #E71D4E;
  font-family: OCR A Std, monospace;
  text-size: 40px;
}
.tea{
width: 300px;
height:200px;
}
#nav {

	   float: left;
       color: #ffffff;
       display: inline-block;
       height: 36px;
       line-height: 33px;
       padding: 0 10px;
       margin: 0 38px;
       font-family: sans-serif;
       font-size: 13px;
       transition: .5s;
}
